In [1]:
var _ = require('lodash');

In [2]:
// simple JavaScript function (review)
function printHello() {
    console.log('hello world')
}
printHello()

hello world

In [3]:
// simple JavaScript function that uses parameters and return values
function add(a, b) {
    return a + b;
}
add(1, 2);

3

In [4]:
// simple function expression
var add = function (a, b) {
    return a + b;
}
add(1, 2);

3

In [5]:
// simple arrow function (lambda function)
var add = (a, b) => a + b;
add(1, 2);

3

In [7]:
// higher order function
var doMath = (a, b, mathfunc) => mathfunc(a, b);
doMath(1, 2, add);

3

In [10]:
// higher order function
function add35() {
    return (a) => a + 35;
}
var f = add35()
f(20)
add35()(20)

55

In [11]:
// simple lodash function
_.capitalize("this is a sentence.");

'This is a sentence.'

In [12]:
_.startCase("john smith");

'John Smith'

In [15]:
console.log(_.pad("apple", 10, '-'));
console.log(_.pad("banana", 10, '-'));
console.log(_.pad("orange", 10, '-'));

--apple---
--banana--
--orange--

In [17]:
console.log(_.padStart("1.23", 10, '-'));
console.log(_.padStart("12.23", 10, '-'));
console.log(_.padStart("100.23", 10, '-'));

------1.23
-----12.23
----100.23

In [19]:
// a range of values
_.range(0, 100, 10);

[
   0, 10, 20, 30, 40,
  50, 60, 70, 80, 90
]

In [20]:
// rounding numbers
_.round(123.45678, 2);

123.46

In [22]:
var str = "hello";
_.times(5, (n) => _.capitalize(str[n]));

[ 'H', 'E', 'L', 'L', 'O' ]

In [25]:
_.map([1, 2, 3, 4, 5], (v, i) => `${i + 1}: ${v * 2}`)

[ '1: 2', '2: 4', '3: 6', '4: 8', '5: 10' ]

In [27]:
_.filter([1, 2, 3, 4, 5], (v, i) => v % 2 != 0);

[ 1, 3, 5 ]

In [28]:
var total = 0;
_.reduce([1, 2, 3, 4, 5], (total, v, i) => total += v);

15

In [29]:
var array = ['hello', 'world'];
_.join(array, ' ');

'hello world'

In [30]:
var array = [1, 2, 3, 4, 5]
_.reverse(array);

[ 5, 4, 3, 2, 1 ]

In [31]:
var array = [3, 5, 1, 2, 4];
_.sortBy(array);

[ 1, 2, 3, 4, 5 ]

In [32]:
var grades = {
    'Assignment 1': 54,
    'Assignment 2': 36,
    'Assignment 3': 12,
    'Assignment 4': 73,
    'Assignment 5': 86
}
_.sortBy(grades);

[ 12, 36, 54, 73, 86 ]

In [37]:
var grades = {
    'Assignment 1': 54,
    'Assignment 2': 36,
    'Assignment 3': 12,
    'Assignment 4': 73,
    'Assignment 5': 86
}
var array = _.entries(grades);
var minGrade = _.sortBy(array, (v) => v[1])[0];
_.fromPairs([minGrade])

{ 'Assignment 3': 12 }

In [38]:
var grades = [
    {name: 'Assignment 1', grade: 54},
    {name: 'Assignment 2', grade: 36},
    {name: 'Assignment 3', grade: 12},
    {name: 'Assignment 4', grade: 73},
    {name: 'Assignment 5', grade: 86}
]
_.sortBy(grades, 'grade');

[
  { name: 'Assignment 3', grade: 12 },
  { name: 'Assignment 2', grade: 36 },
  { name: 'Assignment 1', grade: 54 },
  { name: 'Assignment 4', grade: 73 },
  { name: 'Assignment 5', grade: 86 }
]

In [39]:
var array = [1, 2, 3, 4, 5];
_.shuffle(array);

[ 1, 5, 2, 4, 3 ]

In [41]:
var array = [1, 2, 3, 4, 5];
_.max(array);
Math.max(...array);

5

In [42]:
var students = [
    { id: "w222222", fname: "Jane", lname: "Doe" },
    { id: "w111111", fname: "John", lname: "Appleseed" },
    { id: "w333333", fname: "Jill", lname: "Hill" }
];
_.minBy(students, s => s.id);

{ id: 'w111111', fname: 'John', lname: 'Appleseed' }

In [45]:
var array = [1, 2, 3, 4, 5];
var multiplyBy10 = _.over([(n) => n * 10]);
multiplyBy10(...array);

[ 10 ]

In [47]:
var array = [1, 2, 3, 4, 5];
var findLimits = _.over([Math.min, Math.max]);
findLimits(...array);

[ 1, 5 ]